<!-- Scripts -->
<script type="text/javascript" src="/static/js/custom.js"></script>
<script type="text/javascript" src="/static/js/jquery.js?ver=4"></script>
<script type="text/javascript" src="/static/js/isotope.js"></script>
<script type="text/javascript" src="/static/js/magnific.js"></script>
<script type="text/javascript" src="/static/js/animated-headlines.js?ver=4"></script>
<script type="text/javascript" src="/static/js/waypoints.js?ver=4"></script>
<!--[if lt IE 10]>
<script type="text/javascript" src="/static/js/ie8.js"></script> <![endif]-->
<script type="text/javascript" src="/static/js/init.js?ver=4"></script>
<!-- /Scripts -->